@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
  --highlight: #6400ff;
  --secondary: #d2d2d2;
  --secondary-background: #f2f2f2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
} */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-mono);
  font-size: 12px;
  line-height: 20px;
  position: relative;
  @media (max-width: 768px) {
    background: var(--secondary-background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .active-link {
    @apply text-highlight underline;
  }
}
