@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
  --highlight: #6400ff;
  --secondary: #d2d2d2;
  --secondary-background: #f2f2f2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
} */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-mono);
  font-size: 12px;
  line-height: 20px;
  position: relative;
  @media (max-width: 768px) {
    background: var(--secondary-background);
  }
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .active-link {
    @apply text-highlight underline;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  animation: fadeInDown 0.7s ease-in-out forwards;
}
